<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
    <h1>Crew view</h1>
    <h2>Get All crews</h2>
    <form action="http://localhost:8080/crew/crews" method="GET">
        <button type="submit">Continue!</button>
    </form>

    <h2>Create a crew</h2>
    <p>NOTE: you have to reload the page to see it in the dropdowns</p>
    <form>
        <label for="create_crew_name">Crew name</label>
        <input id="create_crew_name" name="create_crew_name" type="text" /><br />
        <label for="create_crew_accTimee">Acc time</label>
        <input id="create_crew_accTimee" name="create_crew_accTimee" type="text" /><br />
        <label for="create_crew_credits">Crew credits</label>
        <input id="create_crew_credits" name="create_crew_credits" type="text" /><br />
        <button type="button" th:onClick="createCrew()">Send!</button>
    </form>

    <h2>Select the crew you want to operate</h2>
    <form action="http://localhost:8080/crew">
        <label for="crew_id">Select a crew</label>
        <select name="crew_id" id="crew_id">
            <option th:each="crew : ${crews}" th:value="${crew.id}" th:text="${crew.crew_name}">test
            </option>
        </select>
        <button type="submit">Get this crew info!</button>
    </form>


    <h2>Update a crew</h2>
    <p>NOTE: if changed the name, you have to reload the page</p>
    <form>
        <label for="up_crew_name">Crew name</label>
        <input id="up_crew_name" name="up_crew_name" type="text" /><br />
        <label for="up_crew_accTimee">Acc time</label>
        <input id="up_crew_accTimee" name="up_crew_accTimee" type="text" /><br />
        <label for="up__crew_credits">Crew credits</label>
        <input id="up__crew_credits" name="up__crew_credits" type="text" /><br />
        <button type="button" th:onClick="updateCrew()">Send!</button>
    </form>
    <h2>Add product</h2>
    <form>
        <label for="create_product_id">Select a product</label>
        <select name="create_product_id" id="create_product_id">
            <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.product_name}">test
            </option>
        </select>

        <button type="button" th:onClick="addProduct()">Send!</button>
    </form>

    <h2>Remove product</h2>
    <form>
        <label for="remove_product_id">Select a product</label>
        <select name="remove_product_id" id="remove_product_id">
            <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.product_name}">test
            </option>
        </select>

        <button type="button" th:onClick="removeProduct()">Send!</button>
    </form>

    <h2>Change spaceship</h2>
    <p>NOTE: if the spaceship already has a crew, the operation will not go throughh</p>
    <form>
        <label for="spaceship_id">Select a spaceship</label>
        <select name="spaceship_id" id="spaceship_id">
            <option th:each="spaceship : ${spaceships}" th:value="${spaceship.id}" th:text="${spaceship.ship_name}">
                test
            </option>
        </select>

        <button type="button" th:onClick="changeSpaceship()">Send!</button>
    </form>

    <h2>Delete crew</h2>
    <p>NOTE: if the method is successful, it will return the deleted product.</p>
    <form>
        <button type="button" th:onClick="deleteCrew()">Continue!</button>
    </form>

    <h2>Response</h2>
    <p id="response"></p>




    <script th:inline="javascript">
        const changeSpaceship = () => {
            let p = document.querySelector("#response");
            let crew_id = document.querySelector("#crew_id");
            crew_id = crew_id.options[crew_id.selectedIndex];
            let ship_id = document.querySelector("#spaceship_id");
            ship_id = ship_id.options[ship_id.selectedIndex];
            let url = `http://localhost:8080/crew/change-spaceship?crew_id=${crew_id.value}&spaceship_id=${ship_id.value}`
            fetch_product_method(url).then(data => {
                p.innerHTML = ''
                p.innerHTML = `The Method was sucessfully called! <br/> this was the response: <br/> ${JSON.stringify(data)}`
            })
        }
        const addProduct = () => {
            let p = document.querySelector("#response");
            let product_id = document.querySelector("#create_product_id");
            product_id = product_id.options[product_id.selectedIndex];
            let crew_id = document.querySelector("#crew_id");
            crew_id = crew_id.options[crew_id.selectedIndex];
            let url = `http://localhost:8080/crew/add-product?crew_id=${crew_id.value}&product_id=${product_id.value}`

            fetch_product_method(url).then(data => {
                p.innerHTML = ''
                p.innerHTML = `The Method was sucessfully called! <br/> this was the response: <br/> ${JSON.stringify(data)}`
            })
        }
        const removeProduct = () => {
            let p = document.querySelector("#response");
            let crew_id = document.querySelector("#crew_id");
            crew_id = crew_id.options[crew_id.selectedIndex];
            let product_id = document.querySelector("#remove_product_id")
            product_id = product_id.options[product_id.selectedIndex];
            let url = `http://localhost:8080/crew/remove-product?crew_id=${crew_id.value}&product_id=${product_id.value}`

            fetch_product_method(url).then(data => {
                p.innerHTML = ''
                p.innerHTML = `The Method was sucessfully called! <br/> this was the response: <br/> ${JSON.stringify(data)}`
            })
        }

        const fetch_product_method = async (url) => {
            let response = await fetch(url, { method: "PUT" });
            if (response.status == 500)
                alert("There was an error in the server!")
            else if (response.status == 200 || response.status == 201)
                alert("The crew was updated!")
            return response.json();
        }

        const fetch_create_method = async (url, crew_name, crew_accTimee, crew_credits) => {
            let response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    crew_name: crew_name,
                    accTime: crew_accTimee,
                    credits: crew_credits
                })
            });
            if (response.status == 406 || response.status == 400)
                alert("There inputs are invalid!")
            else if (response.status == 500)
                alert("There was an error in the server!")
            else if (response.status == 200 || response.status == 201)
                alert("The crew was created!")
            return response.json();
        }
        const createCrew = () => {

            let p = document.querySelector("#response");
            const url = `http://localhost:8080/crew`
            const crew_name = document.querySelector("#create_crew_name").value;
            const crew_accTimee = document.querySelector("#create_crew_accTimee").value;
            const crew_credits = document.querySelector("#create_crew_credits").value;
            fetch_create_method(url, crew_name, crew_accTimee, crew_credits).then(data => {
                p.innerHTML = ''
                p.innerHTML = `The Method was sucessfully called! <br/> this was the response: <br/> ${JSON.stringify(data)}`
            })
        }

        const updateCrew = () => {
            let crew_id = document.querySelector("#crew_id");
            crew_id = crew_id.options[crew_id.selectedIndex];
            let p = document.querySelector("#response");
            const crew_name = document.querySelector("#up_crew_name").value;
            const crew_accTimee = document.querySelector("#up_crew_accTimee").value;
            const crew_credits = document.querySelector("#up__crew_credits").value;
            let url = `http://localhost:8080/crew?crew_id=${crew_id.value}`

            fetch_update_method(url, crew_name, crew_accTimee, crew_credits).then(data => {
                p.innerHTML = ''
                p.innerHTML = `The Method was sucessfully called! <br/> this was the response: <br/> ${JSON.stringify(data)}`
            })
        }
        const fetch_update_method = async (url, crew_name, crew_accTimee, crew_credits) => {
            let response = await fetch(url, {
                method: 'PUT',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    crew_name: crew_name,
                    accTime: crew_accTimee,
                    credits: crew_credits
                })
            });
            return response.json();
        }
        const fetch_delete_method = async (url) => {
            let response = await fetch(url, { method: "delete" });
            if (response.status == 200 || response.status == 201)
                alert("The crew was deleted!")
            else {
                alert("There was a problem!")
            }
            return response.json()
        }
        const deleteCrew = () => {
            let crew_id = document.querySelector("#crew_id");
            crew_id = crew_id.options[crew_id.selectedIndex];
            let url = `http://localhost:8080/crew?crew_id=${crew_id.value}`
            fetch_delete_method(url).then(data => location.reload())
        }

    </script>
</body>

</html>