<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
    <h1>Welcome to sporEcomerce!</h1>
    <h2>It is recommended to use Firefox to better see the jsons</h2>
    <h2>Choose where you want to go!</h2>

    <h3>Star view</h3>
    <form action="http://localhost:8080/star/view">
        <button type="submit">Take me there!</button>
    </form>
    <h3>Spaceship view</h3>
    <form action="http://localhost:8080/spaceship/view">
        <button type="submit">Take me there!</button>
    </form>
    <h3>Planet view</h3>
    <form action="http://localhost:8080/planet/view">
        <button type="submit">Take me there!</button>
    </form>
    <h3>Product view</h3>
    <form action="http://localhost:8080/product/view">
        <button type="submit">Take me there!</button>
    </form>
    <h3>Crew view</h3>
    <form action="http://localhost:8080/crew/view">
        <button type="submit">Take me there!</button>
    </form>
    <h3>Player view</h3>
    <form action="http://localhost:8080/player/view">
        <button type="submit">Take me there!</button>
    </form>
    <h3>Documentation</h3>
    <form action="http://localhost:8080/swagger-ui.html">
        <button type="submit">Take me there!</button>
    </form>



</body>

</html>